:root {
    --warna1: #edf2f7;
    --warna2: #ffcf54;
    --warna3: #ffdf99;
    --warna4: #2b2b29;
    --warna5: #e2e8f0;
    --warna6: #2d3748;
}

#nav .container {
    background-color: var(--warna5);
    padding: 10px;
    margin-top: 0;
    transition: 1s;
}
.navbar {
    padding-top: 0 !important;
}
.navbar-brand {
    color: var(--warna6) !important ;
}
.nav-item {
    margin: 0px 35px;
}
.nav-link {
    color: var(--warna6) !important ;
    font-weight: 550;
}
.nav-link:hover {
    color: var(--warna2) !important;
}
#nav .btn-demo {
    background-color: var(--warna2);
    border-radius: 8px;
    font-weight: 600;
    color: #4a5568;
    transition: 0.5s;
}

#nav .btn-demo:hover {
    background-color: var(--warna4);
    color: #fff;
}

#nav .scrolltop {
    background-color: #edf2f7 !important;
    padding: 20px !important;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.1);
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}
.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 991.98px) {
    .navbar {
      background-color: var(--warna4);
    }
    #nav .container {
      background-color: var(--warna4);
    }
    .navbar-collapse {
      background-color: var(--warna4);
    }
    .navbar-brand {
      color: white !important ;
    }
    .nav-link {
      color: white !important ;
      font-weight: 550;
    }
}  

.section1 {
    background-color: #E2E8F0;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.desc {
    margin-top: 100px;
}

.desc h1 {
    font-weight: 900;
    font-size: 90px;
    letter-spacing: 0.23em;
    line-height: 105%;
}

.desc h3 {
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 0.23em;
    line-height: 105%;
}

.desc p {
    font-weight: 350;
    font-size: 15px;
}

.desc .btn {
   background-color: #2B2B29 !important;
   font-weight: 500;
   color: white;
   width: 70%;
}

.desc .btn i {
    color: white;
    font-weight: normal;
}

.desc .btn:hover {
    background-color: #FFA600 !important;
}

.section1 img {
    position: absolute;
}

.box, .employee {
    height: 100%;
    max-height: 100%;
    width: 100%;
    overflow: hidden;
}

.rect {
    width: 50px;
}

.box-1 {
    top: 15%;
    left: 37%;
}

.box-2 {
    top: 10%;
    left: 51%;
}

.box-3 {
    top: 18%;
    left: 88%;
}

.box-4 {
    top: 77%;
    left: 37%;
}

.box-5 {
    top: 91%;
    left: 67%;
}

.box-6 {
    top: 62%;
    left: 92%;
}

.box-7 {
    top: 78%;
    left: 84%;
}

.hr-img {
    width: 200px;
    top: 16vh;
    right: 330px;
}

.section1 h2 {
    position: absolute;
    font-weight: 700;
    color: #2D3748;
}

.hr-text {
    font-size: 64px;
    margin-top: 460px;
    margin-left: 280px;
}

.can-img {
    width: 200px;
    top: 21vh;
    right: 545px;
}

.can-text {
    font-size: 16px;
    margin-top: 430px;
    margin-left: 85px;
}

.staff-img {
    width: 200px;
    top: 27.5vh;
    right: 100px;
}

.staff-text {
    font-size: 26px;
    margin-top: 430px;
    margin-left: 518px;
}

@media (min-width: 992px) {
    .desc .btn {
        font-size: 16px;
    }
    .employee img {
        width: 180px;
        margin-top: 10px;
        margin-right: -60px;
    }
    .hr-img {
        margin-top: 30px !important;
    }
    .employee h2 {
        top: 1%;
        left: 29%;
    }
}

@media (min-width: 1200px) {
    .desc .btn {
        font-size: 20px;
    }
    .employee img {
        width: 200px;
        margin-top: 0px;
        margin-right: 0px;
    }
    .can-img {
        left: 40%;
    }
    .hr-img {
        margin-top: 15px !important;
        left: 58%;
    }
    .staff-img {
        margin-top: -10px !important;
    }
    .employee h2 {
        top: 6%;
        left: 37%;
    }
    .can-text {
        margin-left: 5%;
    }
}

@media (min-width: 1400px) {
    .desc h1 {
        font-size: 120px;
    }
    .desc p {
        font-size: 20px;
    }
    .desc .btn {
        font-size: 24px;
    }
    .rect {
        width: 70px;
    }
    .employee img {
        width: 250px;
        margin-top: 0px;
        margin-right: 0px;
    }
    .can-img {
        left: 38%;
    }
    .hr-img {
        margin-top: 0px !important;
        left: 55%;
    }
    .staff-img {
        margin-top: -10px !important;
        left: 75%;
    }
    .employee h2 {
        top: 15%;
    }
    .can-text {
        font-size: 20px;
        margin-left: 3%;
    }
    .hr-text {
        font-size: 84px;
        margin-left: 18%;
    }
    .staff-text {
        font-size: 36px;
        margin-left: 39%;
    }
}

@media (min-width: 1900px) {
    .desc {
        margin-left: -100px;
    }
    .desc h1 {
        font-size: 148px;
        margin-top: 100px;
    }
    .desc p {
        font-size: 24px;
    }
    .desc .btn {
        font-size: 32px;
        width: 90%;
    }
    .rect {
        width: 70px;
    }
    .employee img {
        width: 300px;
        margin-top: 0px;
        margin-right: 0px;
    }
    .can-img {
        left: 38%;
    }
    .hr-img {
        margin-top: 0px !important;
        left: 55%;
    }
    .staff-img {
        margin-top: -10px !important;
        left: 75%;
    }
    .employee h2 {
        top: 23%;
    }
    .can-text {
        font-size: 24px;
        margin-left: 3%;
    }
    .hr-text {
        font-size: 110px;
        margin-left: 18%;
    }
    .staff-text {
        font-size: 48px;
        margin-left: 39%;
    }
}