body {
    overflow-x: hidden;
    height: 150vh;
}

nav a {
    color: black !important;
    font-weight: 500;
    font-size: small;
}

nav a.btn {
    background-color: #FFCF54 !important;
    border-radius: 8px !important;
    font-size: small;
    color: rgb(61, 61, 61) !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.section1 {
    background-color: #EDF2F7;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    position: absolute;
    top: 0%;
    left: 0%;
    overflow: hidden;
}

.desc {
    margin-top: 100px;
}

.section1 h1 {
    font-weight: 900;
    font-size: 90px;
    letter-spacing: 20px;
}

.desc p {
    font-weight: 350;
    font-size: 15px;
}

.desc .btn {
   background-color: #2B2B29 !important;
   font-weight: 500;
   color: white;
   /* box-shadow: -7px -7px 10px #ffeac1, 5px 5px 10px grey; */
   width: 70%;
}

.desc .btn i {
    color: white;
    font-weight: normal;
}

.section1 img {
    position: absolute;
}

.box img {
    width: 50px;
}

.box-1 {
    margin-top: 110px;
}

.box-2 {
    margin-top: 60px;
    margin-left: 180px;
}

.box-3 {
    margin-top: 110px;
    margin-left: 680px;
}

.box-4 {
    margin-top: 470px;
}

.box-5 {
    margin-top: 560px;
    margin-left: 400px;
}

.box-6 {
    margin-top: 380px;
    margin-left: 710px;
}

.box-7 {
    margin-top: 480px;
    margin-left: 600px;
}

.hr-box {
    width: 200px;
    height: 320px;
    top: 24.5vh;
    right: 345px;
}

.hr-img {
    width: 280px;
    top: 16vh;
    right: 302px;
}

.section1 h2 {
    position: absolute;
    font-weight: bold;
}

.hr-text {
    font-size: 64px;
    margin-top: 460px;
    margin-left: 270px;
}

.can-box {
    width: 140px;
    top: 34.5vh;
    left: 545px;
}

.can-img {
    width: 300px;
    top: 21vh;
    right: 500px;
}

.can-text {
    font-size: 16px;
    margin-top: 430px;
    margin-left: 85px;
}

.staff-box {
    width: 140px;
    top: 35vh;
    right: 160px;
}

.staff-img {
    width: 200px;
    top: 27.5vh;
    right: 105px;
}

.staff-text {
    font-size: 26px;
    margin-top: 430px;
    margin-left: 518px;
}

@media screen and (min-width: 1024px) {
    .box-3 {
        margin-left: 580px;
    }
    .box-5 {
        margin-top: 620px;
        margin-left: 330px;
    }
    .box-6 {
        margin-left: 640px;
    }
    .box-7{
        margin-top: 520px;
        margin-left: 530px;
    }
    .desc .btn {
        font-size: 16px !important;
    }
    .can-img {
        top: 19vh;
        right: 370px;
    }
    .can-box {
        top: 27vh;
        left: 420px;
    }
    .can-text {
        margin-top: 500px;
        margin-left: 60px;
    }
    .hr-img {
        top: 15vh;
        right: 180px;
    }
    .hr-box {
        top: 20vh;
        right: 223px;
    }
    .hr-text {
        margin-top: 510px;
        margin-left: 240px;
    }
    .staff-img {
        top: 22vh;
        right: 9px;
    }
    .staff-box {
        right: 60px;
        top: 26.5vh;
    }
    .staff-text {
        margin-top: 490px;
        margin-left: 465px;
    }
}

@media screen and (min-width: 1080px) {
    .box-3 {
        margin-left: 580px;
    }
    .box-4 {
        margin-top: 530px;
    }
    .box-5 {
        margin-top: 620px;
        margin-left: 330px;
    }
    .box-6 {
        margin-left: 640px;
    }
    .box-7{
        margin-top: 520px;
        margin-left: 530px;
    }
    .desc .btn {
        font-size: 16px !important;
    }
    .can-img {
        top: 19vh;
        right: 430px;
    }
    .can-box {
        top: 27vh;
        left: 420px;
    }
    .can-text {
        margin-top: 500px;
        margin-left: 30px;
    }
    .hr-img {
        top: 15vh;
        right: 240px;
    }
    .hr-box {
        right: 280px;
    }
    .hr-text {
        margin-top: 520px;
        margin-left: 210px;
    }
    .staff-img {
        top: 22.5vh;
        right: 45px;
    }
    .staff-box {
        right: 100px;
        top: 27vh;
    }
    .staff-text {
        margin-top: 490px;
        margin-left: 450px;
    }
}

@media screen and (min-width: 1280px) {
    .box-1 {
        margin-top: 110px;
    }
    .box-2 {
        margin-top: 60px;
        margin-left: 180px;
    }
    .box-3 {
        margin-top: 110px;
        margin-left: 680px;
    }
    .box-4 {
        margin-top: 470px;
    }
    .box-5 {
        margin-top: 560px;
        margin-left: 400px;
    }
    .box-6 {
        margin-top: 380px;
        margin-left: 710px;
    }
    .box-7 {
        margin-top: 480px;
        margin-left: 600px;
    }
    .desc .btn {
        font-size: 20px !important;
    }
    .hr-box {
        top: 24.5vh;
        right: 345px;
    }
    .hr-img {
        top: 16vh;
        right: 302px;
    }
    .hr-text {
        margin-top: 460px;
        margin-left: 280px;
    }
    .can-box {
        top: 34.5vh;
        left: 545px;
    }
    .can-img {
        top: 21vh;
        right: 500px;
    }
    .can-text {
        margin-top: 430px;
        margin-left: 85px;
    }
    .staff-box {
        top: 35vh;
        right: 160px;
    }
    .staff-img {
        top: 27.5vh;
        right: 105px;
    }
    .staff-text {
        margin-top: 430px;
        margin-left: 518px;
    }
}

@media screen and (min-width: 1440px) {
    .box-2 {
        margin-left: 250px;
    }
    .box-3 {
        margin-left: 780px;
    }
    .box-5 {
        margin-top: 620px;
        margin-left: 450px;
    }
    .box-6 {
        margin-left: 840px;
    }
    .box-7{
        margin-top: 550px;
        margin-left: 720px;
    }
    .desc .btn {
        font-size: 20px !important;
    }
    .can-img {
        top: 19vh;
        left: 530px;
    }
    .can-box {
        top: 27vh;
        left: 600px;
    }
    .can-text {
        top: 7vh;
        left: 515px;
    }
    .hr-img {
        top: 15vh;
        left: 812px;
    }
    .hr-box {
        top: 20vh;
        left: 850px;
    }
    .hr-text {
        top: 5vh;
        left: 570px;
    }
    .staff-img {
        top: 22.5vh;
        right: 95px;
    }
    .staff-box {
        top: 27vh;
        right: 150px;
    }
    .staff-text {
        top: 6vh;
        right: 215px;
    }
}